@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 8px;
  border-width: 1px;
  pointer-events: auto;
}

button:hover:enabled {
  border-color: black;
}

input {
  border-width: 1px;
  padding: 8px;
}
